.navbar-header img {
	max-height: 50px;
}
.my-navbar {
	background-color: #7EB1DC;
}
.fotonav {
	padding: 0 15px;
}
.my-carusel {
		margin-top: 50px;
		max-height: 700px;
		width: 100%;
		padding: 0 ;
}
#myCarousel {
	overflow: hidden;
}
#myCarousel img { 
	max-height: 700px;
	height: 100vw;
  	width: 100%;
  	object-fit: cover;
  	object-position: 40%;
}
.my-tabs {
	padding: 30px 0;
}
.my-modal {
	padding-bottom: 50px;
}